<h1 class='index-title'>Edit Condition</h1>

<%= render partial: 'form' %>
<!-- <%= form_for [:admin, @condition] do |f| %>

<%= f.label :cond_date%>
<%= f.text_field :cond_date %>

<%= f.label :max_temperature %>
<%= f.number_field :max_temperature %>

<%= f.label :mean_temperature %>
<%= f.number_field :mean_temperature %>

<%= f.label :min_temperature %>
<%= f.number_field :min_temperature %>

<%= f.label :mean_humidity %>
<%= f.number_field :mean_humidity %>

<%= f.label :mean_visibility %>
<%= f.number_field :mean_visibility %>

<%= f.label :mean_wind_speed %>
<%= f.number_field :mean_wind_speed %>

<%= f.label :precipitation %>
<%= f.number_field :precipitation %>

<%= f.submit "Update Condition" %>

<% end %> -->
