<div class='index-title'>
  <h1>Welcome to the Conditions Index!
  <% if current_admin? %>
    <%= button_to "Create a New Condition", new_admin_condition_path, method: :get %>
  <% end %></h1>
  <div class='digg_pagination'>
    <p><%= will_paginate @conditions %><p>
  </div><br>
</div>
<table>
  <tr>
    <th>Id Number</th>
    <th>Date</th>
    <th>Max Temperature</th>
    <th>Mean Temperature</th>
    <th>Min Temperature</th>
    <th>Mean Humidity</th>
    <th>Mean Visibility (miles)</th>
    <th>Mean Wind Speed (mph)</th>
    <th>Precipitation (inches)</th>
    <% if current_admin? %>
      <th colspan="2">Admin functions</th>
    <% end %>
  </tr>
  <% @conditions.each do |condition| %>
    <tr>
      <td><%= link_to condition.id, condition_path(condition) %></td>
      <td><%= condition.cond_date %></td>
      <td><%= condition.max_temperature %></td>
      <td><%= condition.mean_temperature %></td>
      <td><%= condition.min_temperature %></td>
      <td><%= condition.mean_humidity %></td>
      <td><%= condition.mean_visibility %></td>
      <td><%= condition.mean_wind_speed %></td>
      <td><%= condition.precipitation %></td>
      <% if current_admin? %>
        <td><%= button_to "Edit", edit_admin_condition_path(condition), method: :get %></td>
        <td><%= button_to "Delete", admin_condition_path(condition), method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>
