<h1>All Conditions</h1>

<% @conditions.each do |condition| %>
  <%= condition.cond_date %>
  <%= condition.max_temperature %>
  <%= condition.mean_temperature %>
  <%= condition.min_temperature %>
  <%= condition.mean_humidity %>
  <%= condition.mean_visibility %>
  <%= condition.mean_wind_speed %>
  <%= condition.precipitation %>
<% end %>
