<p>Average Duration: <%= @trips.average_duration %></p>
<p>Longest Ride: <%= @trips.longest_duration %></p>
<p>Shortest Ride: <%= @trips.shortest_duration %></p>

<p>Most Ridden Bike: <%= @trips.bike_with_most_rides %></p>
<p>Least Ridden Bike: <%= @trips.bike_with_least_rides %></p>
<p>Subscriber Count: <%= @trips.subscriber_count %></p>
<p>Subscriber Percentage: <%= @trips.subscriber_percent %></p>
<p>Customer Count: <%= @trips.customer_count %></p>
<p>Customer Percentage: <%= @trips.customer_percent %></p>

<p>Station Most Frequently Started At: <%= @trips.station_start_max %></p>
<p>Date With Largest Number of Trips: <%= @trips.date_with_most_trips %></p>
<p>Count of Most Trips in One Day: <%= @trips.most_trips_in_one_day_count %></p>
<p>Date With Lowest Number of Trips: <%= @trips.date_with_least_trips %></p>
<p>Count of Least Trips in One Day: <%= @trips.least_trips_in_one_day_count %></p>
<% @trips.number_of_rides_per_month.each do |date, value| %>
  <%= date.strftime("%B %Y") %>: <%= value %>
<% end %>
<p><%= @trips.total_trips_per_year.keys.first.year %> Ride Total: <%= @trips.total_trips_per_year.values.first %></p>
