<h1>Welcome to the trips index!</h1>

<%= will_paginate @trips %>
<% @trips.each do |trip| %>
  <div id="trip-<%=trip.id%>">
    <p>Duration: <%= trip.duration %></p>
    <p>Start date: <%= trip.start_date %></p>
    <p>Starting station: <%= trip.start_station.name %></p>
    <p>End Date: <%= trip.end_date %></p>
    <p>Ending station: <%= trip.end_station.name %></p>
    <p>Bike ID: <%= trip.bike_id %></p>
    <p>Subscription type: <%= trip.subscription_type %></p>
    <p>Zip Code: <%= trip.zip_code %></p>
  </div>
<% end %>
