<h1 class='index-title'><%= button_to "Create New Account", new_user_path, method: :get %><br>

or Login here</h1>

<div class='form'>
  <%= form_tag login_path, class: "login-form" do %>
    <div>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= submit_tag "Login" %>
    </div>
  <% end %>
