<p>Total station count: <%= @stations_total %></p>
<p>Average number of docks: <%= @average_docks %></p>
<p>Max number of Docks: <%= @most_docks.dock_count%> <%= @most_docks.name%></p>
<p>Min number of Docks: <%= @least_docks.dock_count%> <%= @least_docks.name%></p>
<p><%= @youngest_stat.name %></p>
<p><%= @oldest_stat.name %></p>
