<h1 class='index-title'>Welcome to the Stations Index!
  <% if current_admin? %>
    <%= button_to 'Create a New Station', new_admin_station_path, method: :get %>
  <% end %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Dock Count</th>
    <th>City</th>
    <th>Installation Date</th>
    <% if current_admin? %>
      <th colspan="2">Admin functions</th>
    <% end %>
  </tr>
  <% @stations.each do |station| %>
    <div id="station-<%=station.id%>">
      <tr>
        <td><%= link_to station.name, station_path(station.slug) %></td>
        <td><%= station.dock_count %></td>
        <td><%= station.city %></td>
        <td><%= station.installation_date %></td>
        <% if current_admin? %>
          <td><%= button_to "Edit", edit_admin_station_path(station.name), method: :get %></td>
          <td><%= button_to "Delete", admin_station_path(station.name), method: :delete %></td>
        <% end %>
      </tr>
    </div>
  <% end %>
</table>
