<h1>Welcome to the stations index!</h1>

<% @stations.each do |station| %>
  <div id="station-<%=station.id%>">
    <p>Name: <%= link_to station.name, station_path(station.slug) %></p>
    <p>Dock Count: <%= station.dock_count %></p>
    <p>City: <%= station.city %></p>
    <p>Installation Date: <%= station.installation_date %></p>
    <% if current_admin? %>
      <%= button_to "Edit", edit_admin_station_path(station.name), method: :get %>
      <%= button_to "Delete", admin_station_path(station.name), method: :delete %>
    <% end %>
  </div>
<% end %>
