<div class='dashboard-body'>

<h1>Welcome to the Admin Dashboard!</h1>

<p>Go to <%= link_to 'Admin Bike Shop', '/admin/bike-shop' %>

<p>Number of orders that are:</p>
<ul>
  <li>Ordered: <%= @ordered %></li>
  <li>Completed: <%= @completed %></li>
  <li>Paid: <%= @paid %></li>
  <li>Cancelled: <%= @cancelled %></li>
</ul>

<%= link_to "Accessories", '/admin/bike-shop' %>


<p>Choose which orders to view:

  <%= link_to "All", admin_dashboard_path %>
  <%= link_to "Ordered", admin_dashboard_path(status: 'ordered') %>
  <%= link_to "Completed", admin_dashboard_path(status: 'completed') %>
  <%= link_to "Paid", admin_dashboard_path(status: 'paid') %>
  <%= link_to "Cancelled", admin_dashboard_path(status: 'cancelled') %></p>

<% @orders.each do |order| %>
    <p><%= link_to "Order Number: #{order.id} - #{order.status}", user_order_path(current_user, order) %>
    <% if order.status == 'ordered' %>
      <%= button_to 'Cancel', admin_order_path(order, status: 'cancelled'), method: :patch %>
      <%= button_to 'Mark as Paid', admin_order_path(order, status: 'paid'), method: :patch %>
    <% elsif order.status == 'paid'%>
      <%= button_to 'Cancel', admin_order_path(order, status: 'cancelled'), method: :patch %>
      <%= button_to 'Mark as Completed', admin_order_path(order, status: 'completed'), method: :patch %>
    <% end %></p><br>
<% end %>

</div>
