<% @cart_items.each do |item| %>
<%= image_tag(item.image, size: "50x50") %>
<p>Title:<%= item.title %></p>
<p>Price:<%= item.price %></p>
<p>Quantity: <%= @cart.accessory_quantity(item.id) %></p>
<p>Subtotal: <%= @cart.subtotal(item.id) %></p>
<br>
<% end %>
<p>Total: <%= @cart.total %></p>
