<div class="cart">
  <% @cart_items.each do |item| %>
    <div id="accessory-<%= item.id %>" >
      <%= image_tag(item.image, size: "50x50") %>
      <p>Title:<%= item.title %></p>
      <p>Price:<%= item.price %></p>
      <p>Quantity: <%= @cart.accessory_quantity(item.id) %></p>

      <p>Enter a new quantity:
        <%= form_tag(cart_path(id: item.id), method: "patch") do %>
          <%= label_tag "Change Quantity:" %>
          <%= number_field_tag :new_quantity %>
          <%= submit_tag "Update Quantity"%>
        <% end %>
      </p>

      <p>Subtotal: <%= @cart.subtotal(item.id) %></p>
      <%= link_to "Remove", cart_path(id: item.id), method: 'delete' %><br><br>
    </div>
  <% end %>
  <p>Total: <%= @cart.total %></p>
  <% if current_user %>
    <p><%= button_to 'Checkout', new_user_order_path(current_user), method: :get %></p>
  <% else %>
    <p><%= button_to 'Checkout', login_path %>
  <% end %>
</div>
