<!DOCTYPE html>
<html>
  <head>
    <title>Bikeshare</title>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Paytone One' rel='stylesheet'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class='top'>
      <header>
          <p>Bike Share</p>
          <%= image_tag ('rider.png') %>
      </header>
      <nav>
        <div><p><%= link_to "Home", root_path %></p></div>
        <div class='dashdrop'>
          <p><button class='dropbtn'>Indexes</button></p>
          <div class='droplinks'>
            <%= link_to 'Stations', stations_path %>
            <%= link_to 'Trips', trips_path %>
            <%= link_to 'Conditions', conditions_path %>
          </div>
        </div>
        <div class='dashdrop'>
          <p><button class='dropbtn'>Dashboards</button></p>
          <div class='droplinks'>
            <%= link_to 'Stations', '/stations-dashboard' %>
            <%= link_to 'Trips', '/trips-dashboard' %>
            <%= link_to 'Conditions', '/conditions-dashboard' %>
            <% if current_admin? %>
              <%= link_to 'Admin', '/admin/dashboard' %>
            <% end %>
          </div>
        </div>
        <div><p><%= link_to "Shop", '/bike-shop' %></p></div>
        <% if current_admin? %>
          <div><p><%= link_to "Logged in as Admin User: #{current_user.username}", '/dashboard' %></p></div>
          <div><p><%= link_to 'Logout', logout_path, method: :delete %></p></div>
        <% elsif current_user %>
          <div><p><%= link_to "Logged in as #{current_user.username}", '/dashboard' %></p></div>
          <div><p><%= link_to 'Logout', logout_path, method: :delete %></p></div>
        <% else %>
          <div><p></p></div>
          <div><p><%= link_to 'Login', login_path %></p></div>
        <% end %>
        <div>
          <p>Cart Count: <%= @cart.total_count %><br>
          <%= link_to "Go to Cart", '/cart' %></p>
        </div>
      </nav>
    </div>
    <section>
      <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: type %>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
