<!DOCTYPE html>
<html>
  <head>
    <title>Bikeshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p>Cart Count: <%= @cart.total_count %></p>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: type %>
    <% end %>
    <%= yield %>
  </body>
</html>
