<!DOCTYPE html>
<html>
  <head>
    <title>Bikeshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><h2>BikeShare</h2></li>
        <% if current_user %></li>
          <li><p>Logged in as <%= current_user.username %></p></li>
        <% end %>
        <li><p>Logout</p></li>
        <li style="float:right"><p>Cart Count: <%= @cart.total_count %></p></li>
      </ul>
    </nav>
    <section>
      <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: type %>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
